body {
    font-family:sans-serif;
}
ul { 
    float: left; 
    margin: 15px; 
    padding: 10px; 
    border: 1px solid; 
    line-height: 1.6em; 
    list-style-type: none;}

a {
    text-decoration: none;
    color: rgb(170, 0, 0);
}

nav a.active {
    font-weight: bold;
    text-decoration: underline;
  }
